.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
step*.xlsx
*ipynb_checkpoints*
*lock.*
.cache*
*.cache*
local*.ipynb
.idea/*
*__pycache__*
*.png
.env
**/out/*
.Trash-*
.vscode


*DS_Store*
.codex/*
output/*
source/*
tables/*
ds/*
